<div>

    <h4 class="mb-4 text-muted">Registrar Herramienta</h4>

    <div class="row">
        <div class="col-md-12 col-lg-6 mb-4 align-items-stretch">
            <div class="card border-0 rounded-0 h-100">
                <div class="card-title mb-1 p-3">
                    <h5>Informacion general</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="nombre" class="col-sm-2 col-form-label text-nowrap">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control rounded-0" id="nombre" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-nowrap" for="grupo">Grupo</label>
                            <div class="col-sm-10">
                                <select class="custom-select" id="grupo">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-nowrap" for="tipo">Tipo</label>
                            <div class="col-sm-10">
                                <select class="custom-select" id="tipo">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-nowrap" for="ubicacion">Ubicacion</label>
                            <div class="col-sm-4">
                                <select class="custom-select" id="ubicacion">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>

                            <div class="col-sm-3">
                                <select class="custom-select" id="ubicacion">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>

                            <div class="col-sm-3">
                                <select class="custom-select" id="ubicacion">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 mb-4 align-items-stretch">
            <div class="card border-0 rounded-0 h-100">
                <div class="card-body">
                    <form>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-nowrap" for="estado">Estado</label>
                            <div class="col-sm-10">
                                <select class="custom-select" id="estado">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-nowrap" for="cantidad">Cantidad</label>
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="number" class="form-control text-center" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col">
                                <input type="file" id="file" accept="image/*">
                                <label for="file" class="file d-block p-5 btn btn-outline-secondary">
                                    <i class="fas fa-upload"></i>
                                    Subir imagen
                                </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10 mb-3">
                                <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-auto">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-tables></app-tables>