<div>

    <h4 class="mb-4 text-muted">Registrar Herramienta</h4>

    <form autocomplete="off" class="row" [formGroup]="forma" (ngSubmit)="save()">
        <div class="col-md-12 col-lg-6 mb-4 align-items-stretch">
            <div class="card border-0 rounded-0 h-100">
                <div class="card-title mb-1 p-3">
                    <h5>Informacion general</h5>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label for="nombre" class="col-sm-2 col-form-label text-nowrap">Nombre</label>
                        <div class="col-sm-10">
                            <input [class.is-invalid]="validar('name')" type="text" name="name" formControlName="name" class="form-control rounded-0" id="nombre" required placeholder="Nombre">
                            <small *ngIf="validar('name')" class="text-danger">El campo es necesario</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" for="tipo">Grupo</label>
                        <div class="col-sm-10">
                            <select formControlName="group" class="custom-select" id="tipo">
                                <option selected disabled>Seleccionar el tipo</option>
                                <option [value]="gruop.name" *ngFor="let gruop of groups">{{gruop.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" for="tipo">Tipo</label>
                        <div class="col-sm-10">
                            <select formControlName="type" class="custom-select" id="tipo">
                                <option selected disabled>Seleccionar el tipo</option>
                                <option [value]="type.name" *ngFor="let type of types">{{type.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" for="grupo">Marca</label>
                        <div class="col-sm-10">
                            <select formControlName="marca" class="custom-select" id="grupo">
                                    <option selected disabled>Selecionar Marca</option>
                                    <option [value]="marca.name" *ngFor="let marca of marcas">{{marca.name}}</option>
                                  </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" for="grupo">Tamaño</label>
                        <div class="col-sm-10">
                            <select formControlName="size" class="custom-select" id="grupo">
                                    <option selected disabled>Selecionar Tamaño</option>
                                    <option [value]="size.name" *ngFor="let size of sizes">{{size.name}}</option>
                                  </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" for="grupo">Color</label>
                        <div class="col-sm-10">
                            <select formControlName="color" class="custom-select" id="grupo">
                                    <option selected disabled>Selecionar Color</option>
                                    <option [value]="color.name" *ngFor="let color of colors">{{color.name}}</option>
                                  </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" for="ubicacion">Ubicacion</label>
                        <div class="col-sm-4">
                            <select formControlName="location" class="custom-select" id="ubicacion">
                                    <option selected disabled>Seleccionar Escaparate</option>
                                    <option [value]="ubicacione.container" *ngFor="let ubicacione of ubicaciones">{{ubicacione.container}}</option>
                                  </select>
                        </div>

                        <div class="col-sm-3">
                            <select class="custom-select" id="ubicacion">
                                    <option disabled>Seleccionar Columna</option>
                                    <option [value]="ubicacione.place" *ngFor="let ubicacione of ubicaciones">{{ubicacione.place}}</option>
                                  </select>
                        </div>

                        <div class="col-sm-3">
                            <select class="custom-select" id="ubicacion">
                                    <option disabled>Seleccionar Lote</option>
                                    <option [value]="ubicacione.lote" *ngFor="let ubicacione of ubicaciones">{{ubicacione.lote}}</option>
                                  </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 mb-4 align-items-stretch">
            <div class="card border-0 rounded-0 h-100">
                <div class="card-body">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" for="tipo">Estado</label>
                        <div class="col-sm-10">
                            <select formControlName="state" class="custom-select" id="tipo">
                                <option selected disabled>Selecciona El Estado</option>
                                <option [value]="state.name" *ngFor="let state of states">{{state.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" for="cantidad">Cantidad</label>
                        <div class="col-sm-10">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button (click)="restar(-1)" class="btn btn-outline-secondary" type="button" id="button-addon1">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                </div>
                                <input type="number" class="form-control text-center" formControlName="quantify" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                <div class="input-group-prepend">
                                    <button (click)="sumar(1)" class="btn btn-outline-secondary" type="button" id="button-addon1">
                                            <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col">
                            <input type="file" id="file" (change)="fileChangeEvent($event)" accept="image/*">
                            <label for="file" class="file d-block p-5 btn btn-outline-secondary">
                                    <i class="fas fa-upload"></i>
                                    Subir imagen
                                </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10 mb-3">
                            <button type="submit" class="btn btn-lightning rounded-0 mb-2 mr-auto">Guardar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<app-tables></app-tables>