<div>

    <h4 class="text-muted mb-4">Informacion General</h4>

    <button (click)="actualizar()" class="btn btn-secondary">Actualizar</button>

    <div class="row mb-4">

        <div class="col-md-12">
            <div class="card border-0 rounded-0">
                <div class="card-body">
                    <div class="table-responsive" id="table-scroll">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Grupo</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">Tamaño</th>
                                    <th scope="col">Ubicacion</th>
                                    <th scope="col">Fecha de ingreso</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Informes</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Configuracion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-template ngFor let-inventaio [ngForOf]="inventorys" let-i="index" [ngForTrackBy]="trackByFn">
                                    <tr>
                                        <th scope="row">{{i + 1}}</th>
                                        <td>{{inventaio.name}}</td>
                                        <td>{{inventaio.group}}</td>
                                        <td>{{inventaio.type}}</td>
                                        <td>{{inventaio.marca}}</td>
                                        <td>{{inventaio.color}}</td>
                                        <td>{{inventaio.size}}</td>
                                        <td>{{inventaio.location}}</td>
                                        <td>{{inventaio.createdAt}}</td>
                                        <td>{{inventaio.state}}</td>
                                        <td>
                                            <app-modal [reportes]="inventaio.img" [identificador]="inventaio._id" [name]="stringSpace(inventaio.name)"></app-modal>
                                        </td>
                                        <td>
                                            <app-model-img [img]="inventaio.img" [name]="stringSpace(inventaio.name)"></app-model-img>
                                        </td>
                                        <td>{{inventaio.quantify}}</td>
                                        <td>
                                            <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 ">
                                                <i class="far fa-edit "></i>
                                            </a>
                                            <a class="btn btn-sm btn-outline-lightning rounded-0 ">
                                                <i class="far fa-trash-alt "></i>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>