<div>

    <h4 class="text-muted mb-4">Informacion General</h4>

    <button (click)="actualizar()" class="btn btn-secondary">Actualizar</button>

    <div class="row mb-4">

        <div class="col-md-12">
            <div class="card border-0 rounded-0">
                <div class="card-body">
                    <div class="table-responsive" id="table-scroll">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Grupo</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Ubicacion</th>
                                    <th scope="col">Fecha de ingreso</th>
                                    <th scope="col">Informes</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Configuracion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-template ngFor let-inventaio [ngForOf]="inventorys" let-i="index" [ngForTrackBy]="trackByFn">
                                    <tr>
                                        <th scope="row">{{i + 1}}</th>
                                        <td>{{inventaio.name}}</td>
                                        <td>{{inventaio.group}}</td>
                                        <td>{{inventaio.type}}</td>
                                        <td>{{inventaio.marca}}</td>
                                        <td>{{inventaio.location}}</td>
                                        <td>{{inventaio.createdAt}}</td>
                                        <td>

                                            <app-modal></app-modal>

                                        </td>
                                        <td>
                                            <img src="http://localhost:3000/inventory/image/{{inventaio.img}}" *ngIf="inventaio.img" width="60" class="img-fluid">
                                            <!-- Button trigger modal -->
                                            <!-- <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#imgInventario">
                                            <i class="fas fa-image "></i>    
                                        </button> -->

                                            <!-- Modal -->
                                            <!-- <div class="modal fade" id="imgInventario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">{{inventaio.name}}</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img src="http://localhost:3000/inventory/image/{{inventaio.img}}" *ngIf="inventaio.img" class="img-fluid">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </td>
                                        <td>{{inventaio.quantify}}</td>
                                        <td>
                                            <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 ">
                                                <i class="far fa-edit "></i>
                                            </a>
                                            <a class="btn btn-sm btn-outline-lightning rounded-0 ">
                                                <i class="far fa-trash-alt "></i>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>